<h1 style="color: blue">User Name Genrator</h1>
<hr>
<table>
    <tr>
        <h3>
        Enter Name: <input type="text" [(ngModel)]="name"/>
        </h3>
    </tr>
    <tr>
        <h3>
            Enter Email: <input type="text" [(ngModel)]="email"/>
        </h3>
    </tr>
    <tr>
        <h3>
            Enter Password: <input type="password" [(ngModel)]="pass"/>
        </h3>
    </tr>
</table>
<hr>

<button (click)="genFunc(name,email,pass)" class="btn btn-success">Submit</button>
<h3 style="color: red">
    Username generated: {{ genUser }}
</h3>
<hr>

<app-login></app-login>

